.grid-container {
  @mixin with-borders($top: false, $right: false, $bottom: false, $left: false) {
    $border: 2px solid;
    border-image: url(~/assets/images/grid-border.svg) 2;

    @if $top {
      border-top: $border;
    }

    @if $right {
      border-right: $border;
    }

    @if $bottom {
      border-bottom: $border;
    }

    @if $left {
      border-left: $border;
    }
  }

  @include with-borders($top: true, $left: true);
  $selected-border: 1px solid red;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
  flex-shrink: 0;
  user-select: none;

  .cell {
    @include with-borders($right: true, $bottom: true);
    position: relative;
    box-sizing: border-box;

    > .content-image {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: fill;
      pointer-events: none;
    }

    &.selected:after {
      content: '';
      box-sizing: border-box;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      border: $selected-border;
    }
  }
}