@mixin vertically-space-children($distance) {
  > *:not(:last-child) {
    margin-bottom: $distance;
  }
}

@mixin horizontally-space-children($distance) {
  > *:not(:last-child) {
    margin-right: $distance;
  }
}

@mixin fill-parent() {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
